<ion-view view-title="Pontos">
	<ion-nav-buttons side="right">              
    	<button class="button button-icon icon ion-log-out" ng-click="signout()"></button>    	
    </ion-nav-buttons>
	
	<ion-nav-buttons side="left">
    	<button class="button button-icon icon ion-ios-arrow-back" ng-click="hideMap()" ng-show="showMapBusStop"></button>
    </ion-nav-buttons>
    <ion-content>
		<ion-list id="listBusStop" ng-hide="showMapBusStop">
				<label class="item item-input">
				    <i class="icon ion-search placeholder-icon"></i>
				    <input type="text" placeholder="Busca" ng-model="search.$">
				</label>
		        <div class="list">
				   <a class="item item-avatar item-button-right"  ng-repeat="BusStop in BusStopList|filter:customFilter">
				      <img src="../img/bus-map-icon.jpg">
				      <div style="display: block; float: left; ">
					      <h2> {{ BusStop.ADDRESS }} </h2>
					      <p>
					      	 <span ng-repeat="LINHA in BusStop.LINHAS"> {{ LINHA.LINHA }} </span>
					      </p>
				      </div>
				      <button class="button button-positive button-list" ng-click="showMap(this)"> <i class="icon ion-ios-information-outline"></i></button>
				   </a>
		        </div>
		</ion-list>
		<div id="busStopMap" class="map" data-tap-disabled="true" ng-show="showMapBusStop"></div>
        
	</ion-content>	
</ion-view>