<ion-list>
		<div class="bar bar-header item-input-inset">
			  <label class="item-input-wrapper">		    
			    <input type="search" placeholder="Favorito">
			  </label>
			  <button class="button button-positive">
			    <i class="icon ion-plus-circled"></i> Adicionar
			  </button>		  	 
		</div>

		<div class="list">
        		<div class="item item-avatar item-button-right">
		      		<img src="../img/bus-map-icon-star.jpg">
		      		<span class="span-list">Av. Ana Costa 398</span>		      		
		      		<!-- <button class="button button-clear button-assertive"> <i class="icon ion-close-circled"></i></button> -->
		      		<a class="button button-icon button-list-fav icon ion-close-circled button-assertive button-clear"></a>
		    	</div>

		    	<div class="item item-avatar item-button-right">
		      		<img src="../img/bus-map-icon-star.jpg">
		      		<span class="span-list">Av. Conselheiro Nébias 348</span>
		      		<!-- <button class="button button-clear button-assertive"> <i class="icon ion-close-circled"></i></button> -->
		      		<a class="button button-icon button-list-fav icon ion-close-circled button-assertive button-clear"></a>
		    	</div>

		    	<div class="item item-avatar item-button-right">
		      		<img src="../img/bus-map-icon-star.jpg">
		      		<span class="span-list">Rua Vivaldo de Almeida Nery 18</span>
		      		<!-- <button class="button button-clear button-assertive"> <i class="icon ion-close-circled"></i></button> -->
		      		<a class="button button-icon button-list-fav icon ion-close-circled button-assertive button-clear"></a>
		    	</div>
       	</div>
</ion-list>