<ion-view view-title="Favoritos">
    <ion-content class="has-bottom">
		<ion-list>		
				<label class="item item-input">
				    <i class="icon ion-search placeholder-icon"></i>
				    <input type="text" placeholder="Busca">
				</label>

				<div class="list" id="listaFavoritos">

		       	</div>
		</ion-list>						
	</ion-content>
	<div class="fixed-footer">
		<button class="button icon-left ion-log-out button-assertive button-logout" ng-click="signout()"> Sair </button>		
		<button class="button button-positive button-add-fav" ng-click="showPopup()"> <i class="icon ion-ios-plus-outline"></i> Novo favorito</button>
	</div>
</ion-view>
    