<ion-list>
		<label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Busca">
		</label>
        <div class="list">
        	<div class="item item-avatar item-button-right" ng-repeat="Linha in Linhas track by $index">		   		
		      	<img src="../img/bus-map-icon-line.jpg">
		      	BLU
		      	<button class="button button-positive button-list"> <i class="icon ion-android-globe"></i></button>
		    </div>
        </div>
</ion-list>