<ion-view view-title="Histórico">
    <ion-content class="has-bottom"> 
		<ion-list>
				<label class="item item-input">
				    <i class="icon ion-search placeholder-icon"></i>
				    <input type="text" placeholder="Busca">
				</label>
				<div class="list">
		        		<div class="item item-avatar item-button-right">
				      		<img src="../img/bus-map-icon-historic.jpg">
				      		<span> Av. Ana Costa 398</span><br />
				      		<span class="span-list"> Av. Conselheiro Nébias 348</span>
				      		<!-- <button class="button button-clear button-assertive"> <i class="icon ion-close-circled"></i></button> -->
				      		<button class="button button-positive button-list"> <i class="icon ion-android-refresh"></i></button>
				    	</div>

				    	<div class="item item-avatar item-button-right">
				      		<img src="../img/bus-map-icon-historic.jpg">
				      		<span> Av. Conselheiro Nébias 348</span><br />
				      		<span class="span-list"> Rua Vivaldo de Almeida Nery 18</span>
				      		<!-- <button class="button button-clear button-assertive"> <i class="icon ion-close-circled"></i></button> -->
				      		<button class="button button-positive button-list"> <i class="icon ion-android-refresh"></i></button>
				    	</div>

				    	<div class="item item-avatar item-button-right">
				      		<img src="../img/bus-map-icon-historic.jpg">
				      		<span> Rua Vivaldo de Almeida Nery 18</span><br />
				      		<span class="span-list"> Av. Conselheiro Nébias 348</span>
				      		<!-- <button class="button button-clear button-assertive"> <i class="icon ion-close-circled"></i></button> -->
				      		<button class="button button-positive button-list"> <i class="icon ion-android-refresh"></i></button>
				    	</div>
		       	</div>
		</ion-list>		
	</ion-content>
	<div class="fixed-footer">
		<button class="button icon-left ion-log-out button-assertive button-logout" ng-click="signout()"> Sair </button>		
	</div>
</ion-view>
    