<ion-view view-title="Home">
        <ion-nav-buttons side="right">              
              <button class="button button-icon icon ion-log-out" ng-click="signout()"></button>
        </ion-nav-buttons>
        <ion-content class="has-bottom">
            <form id="calcRouteForm">
                <div class="item item-input bm-search bm-ida">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" id="txtOrigin" placeholder="Origem">
                    <button type="button" class="button button-icon icon energized ion-ios-star showPopupOrig"></button>
                </div>
                <div class="item item-input bm-search bm-volta">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" id="txtDestination" placeholder="Destino">
                    <button type="button" class="button button-icon icon energized ion-ios-star showPopupDest"></button>
                </div>
                <p class="item item-input bm-search bm-checkbox">
                    <input type="checkbox" id="show-pin" />
                    <label for="show-pin">Mostrar todos os pontos</label>
                </p>                     
            </form>
            
            <div class="bar bar-footer bar-balanced" style="display: none" id="buscaOnibus">
               <h1 class="title"></h1>
            </div>            
                        
            <div id="map" class="map" data-tap-disabled="true"></div>
            
        </ion-content>        
</ion-view>