<ion-view view-title="Home">
        <ion-nav-buttons side="right">              
              <button class="button button-icon icon ion-log-out" ng-click="signout()"></button>
        </ion-nav-buttons>
        <ion-content class="has-bottom">
            <form id="calcRouteForm">
                <label class="item item-input bm-search bm-ida">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" id="txtOrigin" placeholder="Origem">
                </label>
                <label class="item item-input bm-search bm-volta">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" id="txtDestination" placeholder="Destino">
                </label>
                <p class="item item-input bm-search bm-checkbox">
                    <input type="checkbox" id="show-pin" />
                    <label for="show-pin">Mostrar todos os pontos</label>
                </p>         
                
                <!-- <input type="submit" value="Busca"> -->
                
            </form>
            
            <div id="map" class="map" data-tap-disabled="true"></div>                        
        </ion-content>        
</ion-view>