<ion-view view-title="Home">
        <ion-content class="has-bottom">
            <form id="calcRouteForm">
                <label class="item item-input bm-search bm-ida">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" id="txtOrigin" placeholder="Origem">
                </label>
                <label class="item item-input bm-search bm-volta">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" id="txtDestination" placeholder="Destino">
                </label>
                <p class="item item-input bm-search bm-checkbox">
                    <input type="checkbox" id="show-pin" />
                    <label for="show-pin">Mostrar todos os pontos</label>
                </p>
                
                <input type="submit" value="Busca">
            </form>
            
            <div id="map" class="map" data-tap-disabled="true"></div>                        
        </ion-content>
        <div class="fixed-footer">
            <button class="button icon-left ion-log-out button-assertive button-logout" ng-click="signout()"> Sair </button>        
        </div>
</ion-view>