<ion-view view-title="Linhas">
	<ion-nav-buttons side="right">              
    	<button class="button button-icon icon ion-log-out" ng-click="signout()"></button>    	
    </ion-nav-buttons>

    <ion-nav-buttons side="left">
    	<button class="button button-icon icon ion-ios-arrow-back" ng-click="hideMap()" ng-show="showMapLines"></button>
    </ion-nav-buttons>

    <ion-content class="has-bottom">
		<ion-list id="listLines" ng-hide="showMapLines">
				<label class="item item-input">
				    <i class="icon ion-search placeholder-icon"></i>
				    <input type="text" placeholder="Busca" ng-model="search.$">
				</label>
		        <div class="list">
		        	<div class="item item-avatar item-button-right" ng-repeat="Linha in Linhas|filter:customFilter">
				      	<img src="img/bus-map-icon-line.jpg">
				      	<span class="span-list">LINHA {{ Linha }}</span>
				      	<button class="button button-positive button-list" ng-click="showMap(this)"> <i class="icon ion-android-globe"></i></button>
				    </div>
		        </div>
		</ion-list>				
        <div id="linesMap" class="map" data-tap-disabled="true" style="display:none"></div>
	</ion-content>	
</ion-view>
