<ion-view view-title="Linhas">
    <ion-content class="has-bottom">
		<ion-list>
				<label class="item item-input">
				    <i class="icon ion-search placeholder-icon"></i>
				    <input type="text" placeholder="Busca">
				</label>
		        <div class="list">
		        	<div class="item item-avatar item-button-right" ng-repeat="Linha in Linhas track by $index">		   		
				      	<img src="../img/bus-map-icon-line.jpg">
				      	<span class="span-list">LINHA {{ Linha }}</span>
				      	<button class="button button-positive button-list"> <i class="icon ion-android-globe"></i></button>
				    </div>
		        </div>
		</ion-list>		
	</ion-content>
	<div class="fixed-footer">
		<button class="button icon-left ion-log-out button-assertive button-logout" ng-click="signout()"> Sair </button>		
	</div>
</ion-view>
