<ion-view  view-title="Bus Map">
     	
        
		
        <img src="../img/bus-map-logo.png" class="center logo">

		<form name="$parent.userloginForm">
			<label class="item item-input">
				  <span class="input-label">Email</span>
				  <input type="email" name="email" placeholder="Email" ng-model="member.email" >
			</label>
			
			<label class="item item-input">
				  <span class="input-label">Senha</span>
				  <input type="password" name="password" placeholder="Senha" ng-model="member.password">
			</label>
			<div class="padding">			  
			  	<div class="row padding-vertical">
			  		<button class="button button-positive col" ng-click="login()">Login</button>
			  	</div>		
			  	<div class="row padding-vertical">			  	
			  		<button class="button button-calm col">Acessar sem login</button>			  		
			  	</div>
			  	<div class="row padding-vertical">
					<!-- <a class="col-center center" ng-click="signup()">Não possui uma conta? Cadastre-se! </a> -->
					<a class="button icon ion-compose button-clear button-dark col" ng-click="signup()"> &nbsp;Não possui uma conta? Cadastre-se!</a>
				</div>				  				  				  		
			  
				<!--<button class="button button-positive right" ng-click="getuser()">Get User ID</button>								
					<input type = "text" size="70" ng-model = "user.id"><br><br>
	         
	         	<button class="button button-positive" ng-click="signout()">Sign Out</button>-->
			</div>
       </form>
		
			
		
			
	    </ion-content>
		
		<!-- <ion-footer-bar align-title="left" class="bar-positive ">
		<div class="button-bar ">
		  <a class="button button-clear" ng-click="signup()">Sign up</a>
		  <a class="button button-clear" >Login</a>
		  <a class="button button-clear" ng-click="db_connect()">DB Connector</a>
		</div>			
		</ion-footer-bar>-->
    </ion-view> 
