<ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="Home" icon="ion-home" href="#/tab/home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Pontos de Onibus" icon="ion-ios-information" href="#/tab/bus-stop">
          <ion-nav-view name="bus-stop-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Linhas" icon="ion-ios-world" href="#/tab/lines">
          <ion-nav-view name="line-tab"></ion-nav-view>
        </ion-tab>

</ion-tabs>